.hero_container {
  .hero_left {
    .blog_name {
      font-size: 3.5rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 1rem;
    }

    .tagline {
      font-size: 1.5rem;
      font-weight: 400;
      color: #fff;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero_container {
    .hero_left {
      .blog_name {
        font-size: 2.2rem;
      }

      .tagline {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .hero_container {
    .hero_left {
      .blog_name {
        font-size: 1.5rem;
      }

      .tagline {
        font-size: 0.8rem;
      }
    }
  }
}
